{% extends 'default/base.html' %}
{% load staticfiles %}

{% block title %}Гостьова книга {% endblock %}

{% block main %}


                <div class="row">
                    <div class="col-3 ">
                <div class="g-photo">
                    {% if good.photo %}<img class="middle" src="{{ good.photo.url }}" height="150" width="150" />{% endif %}
                </div>
                </div>
                <div class="col-9 good-el g-photo">
                <h2>Ціна</h2>
                <h2>{{ good.name }}</h2>
                </div>



                <p></p>
                </div>

        <h3>Опис товару </h3>
        <p>{{ good.content }}</p>

        <ul><a href="{% url 'goods' good.category.id %}">Назад</a></ul>








{% endblock main %}